# editor
.vscode/

# python virtual environment
*venv*/

# python cache
**/__pycache__/
**/.pytest_cache/

# tox
.tox/

# build and distribution files
build/
dist/
pyconstclasses.egg-info/

# code coverage
.coverage
coverage.xml
htmlcov/

# other
tmp/
